#pic {
    height: 300px;
    widows: 400px;
    margin-right: 20px;
}
#main {
    background-image: url("../images/purty_wood/purty_wood_@2X.png");
    height: 100%;
    padding-top: 2%;
    margin-bottom: -2000px;
}
header {
    background-image: url("../images/wood_1/wood_1.png");
}
#name {
    padding-top: 10px;
    font-size: 1.75em;
    background-image: url("../images/purty_wood/purty_wood.png")
}
#navbar {
    background-image: url("../images/purty_wood/purty_wood.png");
}
.card {
    background-color: blanchedalmond;
    margin-bottom: 5%;
    padding-left: 2%;
}
body {
    font-family: 'Shadows Into Light', cursive;
    background-image: url("../images/wood_1/wood_1.png");
}
#game {
    height: 200px;
}
.card-link {
    float: left;
}
.card-text {
    line-height: 1.75rem;
    font-size: 1.75rem;
    padding: 2px;
}
.card-header {
    font-size: 2rem;
}

