body { 
    background-image: url("../images/memphis-mini-dark.png");
    font-family: Arial, Helvetica, sans-serif;
}
header { 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 { 
    color: #4aaaa5;
}